.side-nav {
	width: 15rem;
	height: calc(100vh - 2.5rem);
}

.side-nav ul{
	list-style: none;
}

.side-nav ul .parent-item{
	font-weight: bold;
}

.side-nav ul .parent-item li{
	font-weight: normal !important;
}

.cursor-pointer{
	cursor: pointer;
}

.component-example h3 {
	margin: 0;
	padding: 0 1rem;
	border-right: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
}

.component-example h3:hover{
	background-color: #dee2e6;
}

.component-example h3:first-of-type {
	padding-left: 0;
	border-left: none;
}

.component-example h3:last-of-type {
	padding-right: 0;
	border-right: none;
}