@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('dscoverrides.css');
@import url('markup.css');

.side-nav {
	width: 15rem;
	min-height: calc(100vh - 2.5rem);
}

.side-nav ul{
	list-style: none;
}

.side-nav ul .parent-item{
	font-weight: bold;
}

.side-nav ul .parent-item li{
	font-weight: normal !important;
}

.cursor-pointer{
	cursor: pointer;
}

.component-example-head i, .component-example .edit-icon{
	margin-left: auto;
}

.component-example .section {
	margin: 0;
	padding: 0 1rem;
	border-right: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
}

.component-example .section:hover{
	background-color: #dee2e6;
}

.component-example .section:first-of-type {
	padding-left: 0;
	border-left: none;
}

.component-example .section:last-of-type {
	padding-right: 0;
	border: none;
}

.component-example .markup{
	font-size: 0.8rem;
}

.markup{
	height: 200px;
	max-height: 200px;
	overflow-y: auto;
}

.markup .edit, .markup .edit textarea {
	height: 100%;
}

.editable {
	background-color: inherit;
	border: none;
	border-bottom: 1px solid #dee2e6;
}

.editable:focus{
	outline: none;
}

.component-example-exception{
	color: rgb(155, 0, 0);
}

.disabled {
	background-color: rgb(150, 150, 150);
}

.icon{
	width: 3rem;
	background-image: url('../images/icon.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}