.dsc-background{
	background-color: rgb(255, 255, 255) !important;
}

.dsc-text{
	color: rgb(0, 0, 0) !important;
}

.error {
	color: rgb(155, 0, 0);
	border-color: rgb(155, 0, 0);
	box-shadow: 2px 2px 5px rgba(155, 0, 0, 0.5);
}

.disabled{
	background-color: rgba(0, 0, 0, 0.25) !important;
}

.uncheckedimage{
	background-image: url('../images/unchecked.png');
}

.checkedimage {
	background-image: url('../images/checked.png');
}