@page "/"

@using DSComponents.Input
@using DSComponents.Input.Enums
@using DSComponents.Input.Models

<h3>Input Components</h3>

<div class="col-6">
	@if(_dropdownItems?.Any() == true)
	{
		@foreach(var component in _dropdownItems)
		{
			<div class="col-4">
			</div>
		}
	}
</div>

@code {
	[CascadingParameter]
	protected IDSCService DSCService { get; set; }
	private IEnumerable<DSCInputConfig> _dropdownItems = new List<DSCInputConfig>
	{
		new DSCInputConfig
		{
			Name = "dropdown-example",
			Label = new DSCLabelConfig
			{
				Label = "Standard",
				Position = LabelPosition.TopLeft
			},
			Items = new Dictionary<object, object>
			{
				{ 0, "Item 1" },
				{ 1, "Item 2" },
				{ 2, "Item 3" }
			}
		},
		new DSCInputConfig
		{
			Name = "dropdown-example",
			Multiple = true,
			Label = new DSCLabelConfig
			{
				Label = "Multiple",
				Position = LabelPosition.InlineTopLeft
			},
			Items = new Dictionary<object, object>
			{
				{ 0, "Item 1" },
				{ 1, "Item 2" },
				{ 2, "Item 3" }
			}
		}
	};
}