@layout PageLayout
@page "/toolshed"

<div class="row">
	<h3>About</h3>

	<p>Dev Shed Components were designed to be as simple as possible to use, while allowing for as much customization as possible.</p>

	<h3>Getting Started</h3>

	<h4>Installation</h4>

	<h4>Road Map</h4>

	<div class="col border rounded">
		<h5>Planned</h5>
		<ul>
			<li>Drag and Drop</li>
			<li>Popover</li>
			<li>Dialog</li>
			<li>Modal</li>
			<li>Datepicker</li>
			<li>Table</li>
			<li>Tooltip</li>
			<li>Tabs</li>
			<li>Slider</li>
			<li>Carousel</li>
			<li>Image</li>
			<li>Code Editor</li>
		</ul>
	</div>
	<div class="col border rounded">
		<h5>In Progress</h5>

		<ul>
			<li>Checkbox</li>
			<li>Radio Button</li>
			
		</ul>
	</div>
	<div class="col border rounded">
		<h5>Completed</h5>

		<ul>
			<li>Label</li>
			<li>Select</li>
			<li>Text</li>
			<li>Number</li>
		</ul>
	</div>
</div>



@code {

}
