<div class="row component-example border py-3">
	<div class="col-2">
		@Example
	</div>

	<div class="col-12 mt-3 py-1 border-top border-bottom">Usage</div>

	<div class="col-12 mt-3 py-1">
		@Markup
	</div>
</div>


@code {
	[Parameter]
	public RenderFragment Example { get; set; }
	[Parameter]
	public RenderFragment Markup { get; set; }
	private string _section = "example";
}
