<div class="row mt-5">
	@Header
</div>

<div class="row component-example border py-3 bg-light">
	<div class="col-2 example">
		@Example
	</div>

	<div class="col-12 d-flex mt-3 py-1 border-top border-bottom">
		<span class="section cursor-pointer" @onclick="@(() => _section = "usage")">Usage</span>
		<span class="section cursor-pointer" @onclick="@(() => _section = "config")">Configuration</span>
	</div>

	<div class="col-12 mt-3 py-1 markup">
		@if(_section.Equals("usage"))
		{
			@Markup
		}
		else
		{
			@Code
		}
	</div>
</div>


@code {
	[Parameter]
	public RenderFragment Header { get; set; }
	[Parameter]
	public RenderFragment Example { get; set; }
	[Parameter]
	public RenderFragment Markup { get; set; }
	[Parameter]
	public RenderFragment Code { get; set; }

	private string _section = "usage";
}
