<div class="row mt-5 css-overrides">
	<h4 class="p-0">CSS Overrides</h4>
	<p class="p-0">In addition to the above configurations, a collection of CSS classes is provided to allow for further customization.</p>
	<table class="table table-responsive">
		<thead>
			<th>Class Name</th>
			<th>Description</th>
			<th>Example</th>
		</thead>
		<tbody>
			<tr>
				<td>dsc-background</td>
				<td>Primary background color of the components.</td>
				<td>
					<span class="param">.dsc-background</span><br />
					&#123;<br />
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">background-color</span>: rgb(255, 255, 255) !important;<br />
					&#125;
				</td>
			</tr>
			<tr>
				<td>dsc-text</td>
				<td>Primary text color of the components.</td>
				<td>
					<span class="param">.dsc-text</span><br />
					&#123;<br />
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">color</span>: rgb(0, 0, 0) !important;<br />
					&#125;
				</td>
			</tr>
			<tr>
				<td>disabled</td>
				<td>Appearance of disabled components.</td>
				<td>
					<span class="param">.disabled</span><br />
					&#123;<br />
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">background-color</span>: rgb(200, 200, 200) !important;<br />
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">color</span>: rgb(100, 100, 100) !important;<br />
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="var">border-color</span>: rgb(150, 150, 150) !important;<br />
					&#125;
				</td>
			</tr>
		</tbody>
	</table>
</div>
