@using DevShed.Services
@inherits LayoutComponentBase
@inject IStateContainer StateContainer

<CascadingValue Value="StateContainer">
    <div @onclick="closeDropdowns">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <NavMenu />
            </div>
        </div>

        <div class="container">
            @Body
        </div>
    </div>
</CascadingValue>

@code{
    private void closeDropdowns() => StateContainer.DSCService.CloseDropdowns();
}