@using DevShed.Services
@inherits LayoutComponentBase
@inject IDSCService DSCService

<CascadingValue Value="DSCService">
    <div class="page" @onclick="closeDropdowns">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="col-12 px-4">
            @Body
        </div>
    </div>
</CascadingValue>

@code{
    protected override Task OnInitializedAsync()
    {
        //DSCService.Message += StateHasChanged;

        return base.OnInitializedAsync();
    }
    private void closeDropdowns() => DSCService.CloseDropdowns();
}