@using DevShed.Services
@inherits LayoutComponentBase
@inject IStateContainer StateContainer

<CascadingValue Value="StateContainer">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</CascadingValue>