@using DevShed.Services
@inherits LayoutComponentBase
@inject IStateContainer StateContainer

<CascadingValue Value="StateContainer">
    <div class="d-flex justify-content-center shadow">
        <div class="icon"></div>
        <NavMenu />
    </div>

    <div class="container-fluid page" @onclick="closeDropdowns">
        <div class="row">
            <SideNav />
            <div class="container col-7 mt-3">
                @Body
            </div>
        </div>
    </div>
</CascadingValue>

@code{
    private void closeDropdowns() => StateContainer.DSCService.CloseDropdowns();
}