@using DevShed.Services
@inherits LayoutComponentBase
@inject IStateContainer StateContainer

<CascadingValue Value="StateContainer">
    <div class="container-fluid" @onclick="closeDropdowns">
        <div class="d-flex justify-content-between">
            <div class="icon"></div>
            <NavMenu />
        </div>

        <div class="row">
            <SideNav />
            <div class="container col-8">
                @Body
            </div>
        </div>
    </div>
</CascadingValue>

@code{
    private void closeDropdowns() => StateContainer.DSCService.CloseDropdowns();
}