<div class="side-nav p-0 shadow">
    <h4 class="border-bottom text-center">Components</h4>
    <ul>
        <li class="parent-item">DSC Inputs
            <li>
                 <NavLink class="nav-link" href="select" Match="NavLinkMatch.All">
                    DSCSelect
                </NavLink>
            </li>
        </li>
    </ul>
</div>
