<div class="side-nav p-0 shadow">
    <h4 class="border-bottom text-center">Components</h4>
    <ul>
        <li class="parent-item">Inputs
            <li>
                 <NavLink class="nav-link" href="select" Match="NavLinkMatch.All">
                    Select
                </NavLink>

                <NavLink class="nav-link" href="text" Match="NavLinkMatch.All">
                    Text
                </NavLink>

                <NavLink class="nav-link" href="number" Match="NavLinkMatch.All">
                    Number
                </NavLink>

                <NavLink class="nav-link" href="checkbox" Match="NavLinkMatch.All">
                    Checkbox
                </NavLink>

                <NavLink class="nav-link" href="radio" Match="NavLinkMatch.All">
                    Radio
                </NavLink>
            </li>
        </li>
        @*<li class="parent-item">Dialogs
            <NavLink class="nav-link" href="popover" Match="NavLinkMatch.All">
                Popover
            </NavLink>
        </li>*@
    </ul>
</div>
