@using DSComponents.Input
@using DSComponents.Input.Enums
@using DSComponents.Input.Models


<ComponentExample>
	<Example>
		<DSCSelect Config="@_select" @bind-Expanded="@_select.Expanded">
			@foreach(var item in _select.SelectItems)
			{
				<DSCSelectItem Value="@item" />
			}
		</DSCSelect>
	</Example>

	<Markup>
		&lt;<span class="cmpt">DSCSelect Config</span>&#61;&#34;<span class="bind">&#64;</span>_select&#34; <span class="bind">&#64;bind&#45;Expanded</span>&#61;&#34;<span class="bind">&#64;</span>_select.Expanded&#34;&gt; <br />
		&nbsp;&nbsp;&nbsp;&nbsp;<span class="bind">&#64;</span><span class="code">foreach</span>&#40;<span class="key">var</span> <span class="var">item</span> <span class="code">in</span> _select.SelectItems&#41; <br />
		&nbsp;&nbsp;&nbsp;&nbsp;&#123; <br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;<span class="cmpt">DSCSelectItem Value</span>&#61;&#34;<span class="bind">&#64;</span><span class="var">item</span>&#34; &#47;&gt; <br />
		&nbsp;&nbsp;&nbsp;&nbsp;&#125 <br />
		&lt;&#47;<span class="cmpt">DSCSelect</span>&gt;
	</Markup>

	<Code>
		<span class="key">private </span><span class="cmpt">DSCInputConfig </span> _select &#61; <span class="key">new </span><span class="cmpt">DSCInputConfig</span><br />
		&#123; <br />
		&nbsp;&nbsp;&nbsp;&nbsp;Name &#61 <span class="param">"Standard"</span>&#44;<br />
		&nbsp;&nbsp;&nbsp;&nbsp;SelectItems &#61 <span class="key">new </span><span class="cmpt">List</span>&lt;<span class="key">object</span>&gt;<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&#123; <br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="param">"Item 1"</span>&#44;<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="param">"Item 2"</span>&#44;<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="param">"Item 3"</span>&#44;<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&#125;&#44;<br />
		&nbsp;&nbsp;&nbsp;&nbsp;Label &#61 <span class="key">new </span><span class="cmpt">DSCLabelConfig</span><br />
		&nbsp;&nbsp;&nbsp;&nbsp;&#123; <br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label &#61; <span class="param">"Standard Select"</span>&#44;<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position &#61; <span class="enum">LabelPosition</span>.InlineTopLeft<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&#125; <br />
		&#125; <br />
	</Code>
</ComponentExample>

@code{
	private DSCInputConfig _select = new DSCInputConfig
	{
		Name = "Standard",
		SelectItems = new List<object>{ "Item 1", "Item 2", "Item 3" },
		Label = new DSCLabelConfig {Label = "Standard Select", Position = LabelPosition.InlineTopLeft } 
	};
}